---
import { Image } from "@astrojs/image/components";
import PageHeader from "@components/PageHeader.astro";
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";
import Contact from "@layouts/function-components/Contact.jsx";




const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const contact = entry.data;
const page_data = {
  ...contact,
  content: contact.body,
};


---

<Base
  title={contact.title}
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}
>

  <section class="page-hero pb-6 pt-16">
    <div class="container">

<div class="text-center">
  <h1
    class="mb-5 mt-8 text-black">Ponte en contacto con nuestro equipo
  </h1>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="mb-10 text-center md:col-6 md:order-2 md:mb-0 md:pt-9">
          <div class="contact-img relative inline-flex pb-5 pl-5">
            <Image
              src="/images/contactanos.jpg"
              height={544}
              width={500}
              alt=""
            />
            <!-- <Image
              class="absolute bottom-0 left-0 -z-[1] h-14 w-14"
              src="/images/shape-2.png"
              alt=""
              height={56}
              width={56}
            /> -->
          </div>
        </div>
        <div class="md:col-6 md:order-1">
          <script>console.log('Welcome')</script>
          <Contact client:load />
        
          
        </div>
      </div>
    </div>
  </section>

</Base>
